# Szerver beállítások
PORT=3000
BASE_URL=http://localhost:3000

# OTP SimplePay beállítások
SIMPLEPAY_SANDBOX=true
SIMPLEPAY_MERCHANT=
SIMPLEPAY_SECRET_KEY=

# Billingo beállítások
BILLINGO_API_KEY=
BILLINGO_BLOCK_ID=